body{
    background-color: rgb(7, 7, 7);
}

.text h1{
    text-align: center;
    color: white;
    font-size: 50px;
}

.text p{
    text-align: center;
    color: white;
}

h1:hover{
    color: red;
}
.container{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px;
    margin-top: 10%;
}

img {
    border: 5px solid black;
    object-fit: cover;
}

.container img:hover{
    flex-grow: 3;
    transition: all 2s ease;
    box-shadow: 10px 10px 40px rgb(0, 60, 255), -10px -10px 40px white;
    border-radius: 25px;
    cursor: pointer;
}